extends layout.pug 

block content  
    .container 
        h1.intro-msg This app will allow user to create, delete and update their daily to-dos.

        a.featured(href='/create') Create to-do

        p.req “This web application was created to full Web Technology module’s requirements 
            and does not represent an actual company or service”.