doctype html
html(lang="en")
    head
        title.title To-do application
        link(rel='stylesheet' href='/static/styles/style.css')

    body
        header.navbar
            h1
                a(href='/') To-do application

            nav(class='nav') 
                a(href='/toDos') All to-dos
                a(href='/api/v1/toDos') API 
                a(href='/deleted') Deleted to-dos



        block content