doctype html
html(lang="en")
    head
        title To-do application

    body
        header.navbar
            h1 Logo
                a(href='/') To-do application

            nav(class='nav') 
                a(href='/to-do') All to-dos 
                a(href='/review') 

        block content