extends layout.pug 

block content 
    div.container
        h1 All to-dos

        each toDo in toDos
            div.to-do-wrapper
                a.to-do(href='/toDos/detail')= toDos
                a.delete(href='#') delete