extends layout.pug 

block content 
    div.container
        h1 All to-dos

        if id 
            p.success ToDo with id #{ id } id deleted!

        each toDo in toDos
            div.to-do-wrapper
                a.to-do(href=`/toDos/${ toDo.id }`) #{ toDo.title }
                if !toDo.deleted
                    a.delete(href=`/toDos/${ toDo.id }/delete`) Delete