:root {
    font-size: 18px;
    color: #444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(72, 228, 72);
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted silver;
    padding: 10px;
}

.navbar a {
    display: inline-block;
    padding: 5px 10px;
}

.navbar>h1>a {
    padding: 0;
}

/*
  Home page styles
*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.intro-msg {
    padding: 100px o 30px 0;
    font-size: 1.5rem;
    max-width: 100%;
}

.featured {
    display: inline-block;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(140, 129, 168);
    columns: white;
    margin-top: 30px;
    margin-left: 300px;
}


.req {
    padding: 60px 0;
    max-width: 900px;
    font-size: 0.9rem;
}

/*
  Create page styles
*/

.form {
    max-width: 70%;
}

.input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: tomato;
    color: white;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: inherit;
}

/*
  To-do page styles
*/

.to-do-wrapper {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid silver;
}

.to-do {
    font-size: 1.3rem;
}

.delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: tomato;
    columns: white;
}

.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    font-size: 1.2rem;
    color: red;
}

.success {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    font-size: 1.2rem;
    color: green;
}